$black: #2a2a2a;
$white: #f0f0f0;
$grey-line: #afafaf;
$grey-text: #7c7c7c;

@mixin button-add-item {
  position: relative;
  color: #9e9d9d;
  font-size: 16px;
  padding-left: 15px;
  transition: 0.25s;
  &:before {
    content: '\002B';
    font-size: 20px;
    margin-right: 4px;
  }
  &:hover {
    color: #535353;
  }
}
